/* Write your CSS code here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
nav > div img {
  width: 20px;
  height: 20px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
.nav-image-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 80%;
}
